.basket-bg {
    position: relative;
    width: 28%;
    height: 547px;
    position: relative;
    border-radius: 4px;
    background: #F3F4F6;
    box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.20);
}

.basket-middle::-webkit-scrollbar {
    width: 3px;
}

.basket-middle::-webkit-scrollbar-thumb {
    background-color: #ff0000;
}

.basket-middle::-webkit-scrollbar-track {
    background-color: transparent;
}

.basket-middle {
    overflow-x: hidden;
    overflow-y: auto;
    height: 370px;
    margin-bottom: 100px;
}

.basket-top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    padding: 12px 16px 12px 11px;
    justify-content: space-between;
}

.basket-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding : 20px 11px;
    border-bottom: 1px solid #E0E0E0;
}

.basket-items {
    color: #D63626;
    font-size: 16px;
    padding-top: 5px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.48px;
}

.basket-title {
    margin-right: 20px;
}

.basket-title :nth-child(1) {
    color: #4F4F4F;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.48px;
}

    .basket-title :nth-child(2) {
        color: #4F4F4F;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.42px
    }

.basket-checkout {
    background: #D63626;
    border-radius: 100px;
    padding-left: 24px;
    padding-right: 2px;
    height: 47px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout-bg {
    background: #fff;
    width: 135px;
    height: 43px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D63626;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.48px;
}

.checkout-text {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.48px;
}
.empty{
    width: 28%;
    background: #F3F4F6;
    height: 547px;
}
.empty img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.clear-btn {
    font-size: 16px;
    border: 1px solid #D63626;
    width: 120px;
    height: 35px;
    font-weight: 600;
    color: #D63626;
    border-radius: 20px;
    transition: 0.5s all ease;
}

.clear-btn:hover {
    background-color: #D63626;
    color: #fff;
}

.food-head {
    margin-left: 20px;
}

.close {
    display: none;
}
@media(max-width:1400px) {
    .basket-bg{
        width: 35%;
    }
}
@media(max-width:1200px) {
    .basket-bg,.empty{
        width: 40%;
    }
}
@media(max-width:992px) {
    .overlay {
        background-color: rgba(0, 0, 0, 0.20);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 98;
        height: 100vh;
    }

    .basket-bg ,.empty{
 
        display: none;
    }

    .close {
        padding: 20px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
        justify-content: center;
    }

    .basket-middle {
        margin-bottom: 0;
    }
}